@model Sueep.Models.LoginModel

@{
    Layout = null;
}


<hr />

<div>
    @if (!string.IsNullOrEmpty(ViewBag.message))
    {

        @ViewBag.messaage
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Know about me <a href="https://sueep.com">Sueep.com</a>.</p>
    </div>
    <div style="text-align:center">
        <label class="field-validation-error" style="color:red">@Html.DisplayFor(model => model.LoginError)</label>
    </div>
    <div style="height:20px"></div>
</div>
<div class="row">
    <div class="col-md-12 panel-sec">
        <form asp-action="Adminlogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Password</label>
                <input type="password" asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit"  value="Login" class="butto btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="ctx">
    @*<a asp-action="Index">Forgot Password</a>*@
</div>

<style>
    .panel-sec form {
        width: 350px;
        margin: 0 auto 30px;
        text-align: left;
        border: 2px solid #fe346e !important;
        padding: 30px;
    }

    h1.display-4 {
        text-align: center;
    }
    p {
        text-align: center;
    }
   .ctx
{
text-align:center;
   }


    input.butto.btn.btn-primary {
        background-color: #fe346e !important;
        width: 100%;
        color: #f1f1f1;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
    }

    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid #102d3a;
        box-sizing: border-box;
    }

    butto:hover {
        opacity: 0.7;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        margin: 10px 5px;
    }


    .container {
        padding: 25px;
        background-color: lightblue;
    }   
</style>

