
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Know about me <a href="https://sueep.com">Sueep.com</a>.</p>
</div>

