
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Know about me <a href="https://sueep.com">Sueep.com</a>.</p>
</div>


<style>
    table {
        width: 1000%;
    }

    /*th {
        width: 25%;
        border: none;
        background-color: #f1cab5;
        height: 40px;
    }*/

    td {
        border: none;
        text-align: center;
        padding: 10px;
        background-color: #e3e3e3;
    }
</style>


<div>


    <div id="table">
        <table>
            <tr>
                <td>Pending</td>
                <td>blaa</td>
                <td>Progress</td>
                <td>bla bla</td>
                <td>Complete</td>

            </tr>
            <tr>
                <td>Pending</td>
                <td>blaa</td>
                <td>Progress</td>
                <td>bla bla</td>
                <td>Complete</td>
            </tr>
        </table>
    </div>
</div>
