@model Sueep.Models.Servicestatusclass

@{
    ViewData["Title"] = "StatusEdit";
}
<body id="services-sec">
    <h1>Edit</h1>

       <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="StatusEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="StatusId" class="control-label"></label>
                        <input asp-for="StatusId" class="form-control" />
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>*@
                @*<div class="form-group">
                    <label asp-for="serviceid" class="control-label"></label>
                    <input asp-for="serviceid" class="form-control" />
                    <span asp-validation-for="serviceid" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Servicestatus" class="control-label"></label>
                    @Html.DropDownListFor(model => model.Servicestatus,
                                    new List<SelectListItem>()
                                    {
                                       new SelectListItem() { Text ="Pending", Value = "Pending"},
                                       new SelectListItem() { Text ="Progress", Value = "Progress" },
                                       new SelectListItem() { Text = "Complete", Value = "Complete" }
                                    },
                                    new { htmlAttributes = new { @class = "form-control" } }
                                  )
                    @*<input asp-for="Servicestatus" class="form-control" />*@
                    <span asp-validation-for="Servicestatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    </body>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <style>
        .btn-primary {
            color: #fff;
            background-color: #fe346e !important;
            border-color: #fe346e !important;
        }

        select#Servicestatus {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: #102d3a;
            box-sizing: border-box;
        }
    </style>
  

